/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body */
#main-app {
  height: 100vh;
}

/* Header */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 15px;
  background-color: black;
  position: fixed;
  width: 100%;
}

.logo {
  color: red;
  font-size: 30px;
  text-transform: uppercase;
}

/* Main */
main {
  overflow: hidden;
  height: 100%;
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: grey;
  overflow: auto;
  height: 100%;
  padding: 100px 30px 60px;
  align-items: flex-end;
}

.movie-container {
  margin: 60px 30px 0;
}

.movie-container:hover .movie-data {
  opacity: 1;
}

.movie-data {
  opacity: 0;
  transition: opacity 0.8s;
}
